*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color:white;
    --bg-url: url(./assets/bg-desktop.jpg);
    --stroke-color:rgba(255, 255, 255, 0.5);
    --surface-color:rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hightlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/MoonStars.svg);
}

 .light{
    --text-color: black;
    --bg-url: url(./assets/bg-desktop-light.jpg);
    --stroke-color:rgba(0, 0, 0, 0.5);
    --surface-color:rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hightlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/Sun.svg);
}

body{
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
     display: flex;
    flex-direction: column;;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 56px auto 0px;
    width: 360px;
    padding: 0px 24px;
}

/*Profile CSS*/

.profile{
    align-items: center; 
    padding: 24px;
}

.photo{
    width: 112px;
}

.profile p{
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
}

/*Switch CSS*/

.switch{
    position: relative;
    margin: 4px auto;
}

.switch button{
    position: absolute;
    width: 32px;
    height: 32px;
    border:none;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}  

.light .switch button{
    background: white var(--switch-bg-url) no-repeat center;
    right: 0;
    left: initial;
}

.switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*Links CSS*/

ul{
    list-style: none;
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 0;
}

ul li a{
    border: 1px solid var(--stroke-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}
ul li a:hover{
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);
    
}

.social-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
    gap: 4px;
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

.social-links a:hover{
    background: var(--hightlight-color);
    transition: all 0.2s;
}

footer{
    padding: 24px 0;
    font-size: 14px;
}